/* Essentials */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;669;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
}
/* Essentials - END */

/* Global navbar */
.logo-text {
  font-size: 20pt;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bolder;
  color: white;
  display: inline-block;
  font-family: "Orbitron", sans-serif;
}

.active {
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: rgb(51, 51, 51);
}

.topnav #topnav-container {
  display: none;
}

.topnav-links {
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 24px;
  display: block;
}

/* Hamburger menu icon */
.icon-container {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 24px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* Hamburger menu icon - END */
/* Global navbar - END */

/* Global Footer */
.footer {
  height: 100%;
  background-color: rgb(51, 51, 51);
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.footer-heading {
  margin-top: 0em;
  padding-top: 1em;
  color: white;
}

.container-icon {
  padding-bottom: 1em;
}

.container-icon a {
  text-decoration: none;
}
.footer-contact-icon {
  width: 35px;
  margin-right: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* Global Footer - END */

/* Index */
.main-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100%;
}

.middle {
  display: none;
}

main {
  height: 100%;
  width: 100%;
}

.heading {
  padding-top: 4.5em;
  margin-bottom: 2em;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

.sub-heading {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  width: fit-content;
}

.container-heading {
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

.work-section {
  background-color: rgb(24, 26, 27);
  margin-top: 1.5em;
  padding-bottom: 8em;
  text-align: center;
  overflow: hidden;
}

.work-image {
  border: 1px solid lightgray;
  margin-top: 1.7em;
  width: 100%;
  box-shadow: 0px 0px 30px 0px black;
}

.work-box {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.work-label {
  border-bottom: solid 2px white;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* Index - END */

/* CV */
.container-cv {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 5em;
}

.container-cv p {
  margin-bottom: 45px;
  padding-bottom: 10px;
  border-bottom: white solid 1.5px;
  width: fit-content;
}

/* CV - END */

/* About */
.paragraph-about {
  font-size: 14pt;
  line-height: 28px;
}
.container-about {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3em;
  width: 80%;
  display: block;
}

.maps {
  width: 100%;
}

.maps-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 5em;
}

.profile-picture {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50%;
  margin-top: 2em;
  float: none;
  display: block;
  border: 2px solid white;
}

.container-profile-picture {
}
/* About - END */

/* Contact */
/* Style for contact - form */
.contact_header {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid white;
}

.contact_form {
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
}

.contact_field {
  width: 90%;
  padding: 0em;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.formlabel {
  display: block;
  font-weight: normal;
  font-size: 13pt;
  color: white;
}

.form-error {
  color: white;
  display: none;
}

.form-valid {
  color: white;
  display: none;
  margin-bottom: 15px;
}

.formrow,
input,
textarea {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  margin-bottom: 15px;
}
.input_box {
  background-color: lightgrey;
  border-color: lightgrey;
}

.input_box {
  font-size: 12pt;
  font-family: inherit;
}

input,
textarea {
  padding: 0.5em;
}

.formrow_send {
  text-align: center;
}

.send_button {
  padding: 12px 33px 14px;
  background-color: rgb(24, 26, 27);
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  color: white;
  cursor: pointer;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  opacity: 1;
  line-height: 1;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.send_button:hover {
  opacity: 0.9;
}
/* Style for contact - form END */
/* Contact - END */
