/* Essentials */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;669;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #1d2129;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.backgroundLayerColor {
  background-color: #e9ebee;
}

/* Essentials - END */

/* Global navbar */
.logo-text {
  font-size: 22pt;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bolder;
  color: white;
  display: inline-block;
  font-family: "Orbitron", sans-serif;
}

.active {
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.topnav #topnav-container {
  display: none;
  padding-bottom: 2em;
}

.backgroundColorTopnav {
  background-color: rgba(23, 23, 23);
  box-shadow: 0px 0px 25px 5px black;
}

.topnav-links {
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 24px;
  display: block;
  text-align: center;
}

.addBlur {
  filter: blur(6px);
  transition: 0.4s ease-in;
}

/* Hamburger menu icon */
.icon-container {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 24px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* Hamburger menu icon - END */
/* Global navbar - END */

/* Global Footer */
.footer {
  height: 100%;
  background-color: #e9ebee;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.footer-heading {
  margin-top: 0em;
  padding-top: 1em;
  color: white;
}

.container-icon {
  padding-top: 1em;
}

.container-icon a {
  text-decoration: none;
}
.footer-contact-icon {
  width: 40px;
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-text {
  padding-bottom: 1em;
  font-size: 17pt;
  font-weight: 600;
}
/* Global Footer - END */

/* Index */
.main-background {
  background-color: rgba(23, 23, 23);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100%;
}

.overlay {
  display: none;
}

.heading {
  padding-top: 5.5em;
  margin-bottom: 2em;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  color: white;
  letter-spacing: 4px;
}

.sub-heading {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  padding-top: 2em;
  width: fit-content;
}

.container-heading {
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

.work-section {
  padding-top: 2.5em;
  padding-bottom: 8em;
  text-align: center;
  overflow: hidden;
}

.empty-div {
  padding: 8em;
}

.work-image {
  margin-top: 1em;
  width: 100%;
}

.work-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: #f5f6f7;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 25px;
  padding-top: 1em;
  border-radius: 10px;
}

.work-label {
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 16pt;
  letter-spacing: 1px;
}

/* Index - END */

/* CV */
.container-cv {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
  padding-bottom: 1em;
}

.container-cv p {
  margin-bottom: 45px;
  padding-bottom: 10px;
  border-bottom: black solid 1.5px;
  width: fit-content;
}

/* CV - END */

/* About */
.paragraph-about {
  font-size: 14pt;
  line-height: 28px;
}
.container-about {
  margin-right: auto;
  margin-left: auto;
  padding-top: 6em;
  padding-bottom: 2em;
  width: 80%;
  display: block;
}

.backgroundLayer-about {
  display: inline-block;
}

.profile-picture {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50%;
  margin-top: 0em;
  display: block;
  border: 2px solid white;
  box-shadow: 0px 0px 20px 3px darkgray;
}

.container-profile-picture {
  margin-top: 4em;
  margin-bottom: 2em;
}

/* About - END */

/* Contact */
/* Style for contact - form */
.contact-header {
  width: fit-content;
  margin-right: auto;
  padding-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
  font-family: inherit;
}

.contact-form {
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
}

.contact-field {
  width: 90%;
  padding: 0em;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.formlabel {
  display: block;
  font-weight: normal;
  font-size: 13pt;
  color: white;
}

.form-error {
  color: red;
  display: none;
  margin-bottom: 15px;
}

.form-valid {
  color: green;
  display: none;
  margin-bottom: 15px;
}

.formrow,
input,
textarea {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
}
.input_box {
  background-color: white;
  border-color: black;
  border-width: 1px;
  font-size: 12pt;
  font-family: inherit;
}

.formrow {
  padding-top: 25px;
}

input,
textarea {
  padding: 0.5em;
}

.formrow_send {
  text-align: center;
}

.send_button {
  padding: 12px 33px 14px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  color: #1d2129;
  cursor: pointer;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  opacity: 1;
  line-height: 1;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.send_button:hover {
  opacity: 0.7;
}
/* Style for contact - form END */
/* Contact - END */
